<%- include('header.ejs') %> 


<div class="container my-5">
    <div class="col-md-12 m-auto text-right">
        <a class="add p-2 btn" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus-circle"></i> Add
    New</a>
    </div>
</div>


<!--ADD Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="/addNote" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <input placeholder="Type Title" name="title" class="form-control" type="text">
                    <textarea class="form-control my-2" placeholder="Type your note" name="desc" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info"><i class="fas fa-plus-circle"></i> Add Note</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- EDIT MODAL -->

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="/editNote" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <input hidden type="text" id="id" name="id">
                    <input placeholder="Type Title" id="modalTitle" name="title" class="form-control" type="text">
                    <textarea class="form-control my-2" placeholder="Type your note" name="desc" id="modalDesc" cols="30" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> Update Note</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- DELETE MODAL -->
  
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/delete" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
            <div class="modal-body text-center">
                <input hidden type="text" id="delete"name="delete">
                This action cannot be undone.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </form>
    </div>
  </div>


<!-- ==========================Notes=============================== -->

<div class="container">
    <div class="row">
        <% for( let index = 0; index < notes.length; index++ ) { %>
            <div class="col-md-4 my-4">

                <div class="note p-4">
                    <h3 id="title<%= notes[index]._id %>" class="float-left"><%= notes[index].title %>  </h3>
                    <a href="#"><i class="fas fa-edit float-right edit"data-toggle="modal" onclick="edit('<%=notes[index]._id%>')" data-target="#editModal"></i></a>
                    <a href="#"> <i class="fas fa-trash-alt float-right px-3 del" onclick="getID('<%=notes[index]._id%>')" data-toggle="modal" data-target="#deleteModal"></i></a>
                    <span class="clearfix"></span>
                    <p id="desc<%= notes[index]._id %>">  <%= notes[index].desc %> </p>
                </div>
            </div>
        <% } %>

    </div>
</div>

<%- include('footer.ejs') %> 
